<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
    <div class="inicio">
    <img width="300" src="/images/logo-mercado-liebre.svg">
    <p> <form action="../../form-result.php" method="post" target="_blank">
        <p>
          <input type="search" name="busquedaproducts" placeholder="producto, marca...">
          <input type="submit" value="Buscar">
        </p>
      </form></p>
    <p class=compra> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
    <nav>
        <ul>
            <li><a href= " ">Ofertas </a></li>
            <li><a href= " ">Tiendas Oficiales </a></li>
            <li><a href= " ">Vender </a></li>
            <li><a href= " ">Ayuda </a></li>
            <br>
            <li><a href= " ">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
            <li><a href= " ">Ingresá</a></li>
            <li><a href= " ">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </nav>
    <div class="burger-menu">
        <p><i class="fas fa-bars"></i></p>
        </div>
    </header>
<main>
<section>
    <h3 class="titulares">Basado en tu última visita</h3>
<article>
    <img width="200" src="/images/img-cafetera-moulinex.jpg">
<div class="productos">
    <i class="fas fa-truck" style="color: #39b54a;"></i>
    <p class="precio">$6.770</p>
    <p class="desc">40% OFF</p>
    <h4 class="descrip">Cafetera Moulinex</h4>
</div>
</article>
<article>
    <img width="200" src="/images/img-macbook-pro-2019.jpg">
<div class="productos">
    <i class="fas fa-truck" style="color: #39b54a;"></i>
    <p class="precio">$230.000</p>
    <p class="desc">20% OFF</p>
    <h4 class="descrip">MacBook Pro 2019</h4>
</div>
</article>
<article>
    <img width="200" src="/images/img-samsung-galaxy-s10.jpg">
<div class="productos">
    <i class="fas fa-truck" style="color: #39b54a;"></i>
    <p class="precio">$70.500</p>
    <p class="desc">10% OFF</p>
    <h4 class="descrip">Samsung Galaxy S10</h4>
</div>
</article>
<article>
    <img width="200" src="/images/img-tv-samsung-smart.jpg">
    <div class="productos">
    <i class="fas fa-truck" style="color: #39b54a;"></i>
    <p class="precio">$23.200</p>
    <p class="desc">5% OFF</p>
    <h4 class="descrip">Smart Tv Samsung 43"</h4>
    </div>
</article>
</section>
<section>
    <h3 class="titulares">Ofertas</h3>
<article>
    <img width="200" src="/images/img-cafetera-moulinex.jpg">
<div class="productos">
    <p><i class="fas fa-truck" style="color: #39b54a;"></i></p>
    <p class="precio">$6.770</p>
    <p class="desc">40% OFF</p>
    <h4 class="descrip">Cafetera Moulinex</h4>
</div>
</article>
<article>
    <img width="200" src="/images/img-macbook-pro-2019.jpg">
    <div class="productos">
    <i class="fas fa-truck" style="color: #39b54a;"></i>
    <p class="precio">$230.000</p>
    <p class="desc">20% OFF</p>
    <h4 class="descrip">MacBook Pro 2019</h4>
    </div>
</article>
<article>
    <img width="200" src="/images/img-samsung-galaxy-s10.jpg">
    <div class="productos">
    <i class="fas fa-truck" style="color: #39b54a;"></i>
    <p class="precio">$70.500</p>
    <p class="desc">10% OFF</p>
    <h4 class="descrip">Samsung Galaxy S10</h4>
</div>
</article>
<article>
    <img width="250" src="/images/img-tv-samsung-smart.jpg">
    <div class="productos">
    <i class="fas fa-truck" style="color: #39b54a;"></i>
    <p class="precio">$23.200</p>
    <p class="desc">5% OFF</p>
    <h4 class="descrip">Smart Tv Samsung 43"</h4>
</div>
</article>
</section>
</main>
<footer>
<section>
    <article>
        <p class="icon"><i class="fas fa-credit-card" style="color: #1259c3;"></i></p>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </article>
    <article>
        <p class="icon"><i class="fas fa-gift" style="color: #1259c3;"></i></p>
        <h3>Envío gratis desde $2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </article>
    <article>
        <p class="icon"><i class="fas fa-user-shield" style="color: #1259c3;"></i></p>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    </article>
    <br>
    <article>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </article>
</section>
</footer>
</body>

</html>